:root {
    --footer-header-color: #1F2937;
    --gap: 250px;
    --height: 125px;
}

body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

span {
    color:#E5E7EB;
}

h1 {
    color: #F9FAF8;
    font-size: 50px;
    margin: 0;
}

.header,
.footer {
    background-color: var(--footer-header-color);
    padding: 0 var(--gap);
    height: var(--height);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

}

.header {
    display: flex;
    margin-right: auto;
    padding-bottom: 100px;
}

.links {
    display: flex;
    margin-left: auto;
    gap: 24px;
    align-items: center;
}

.logo {
    height: auto;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.hero-background {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero {
    display: flex;
    padding: 0 var(--gap);
    gap: 48px;
    align-items: center;
    padding-bottom: 100px;
}

.hero-image {
    max-width: 35em;
    border-radius: 30px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    max-width: 40%;
    color: #E5E7EB;
}

.button {
    background-color: #3882F6;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 600;
}

.services {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 var(--gap);
    justify-content: space-between;
    gap: 32px;
    padding-bottom: 100px;
    padding-top: 50px;
}

.services-title {
    font-weight: 700;
    font-size: 36px;
    color: #1F2937;
}

.services-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64px;
}
.services-images {
    max-width: 300px;
    border-radius: 20px;
    padding: 5px;
}

.services-items-text {
    font-weight: 600;
    font-size: 32px;
    color: #1F2937;
}